/* 讓文字容器超出隱藏，避免出現橫向捲軸 */
body {
    overflow-x: hidden;
}

/*body - 表頭樣式*/
/*1.LOGO 圖片*/
.headLogo {
    width: 245px;
    height: 47px;
    margin: 16px 5px;
}

/*body - 表身樣式*/
.box {
    width: auto;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.list {
    display: flex;
    position: absolute;
    left: 0px;
    white-space: nowrap;
    width: max-content;
}

.list-information {
    font-size: 48px;
    padding: 50px;
}

.information {
    font-size: 32px;
    margin-top: 20px;
    margin: 0%;
    text-align: center;
}

/*圖片容器*/
.prayingbox {
    position: relative;
    width: auto;
    height: 600px;
    /*border: 1px solid #000000;/*看板型用，上線後務必關掉*/
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-praying {
    left: 0px;
    display: flex;
    position: absolute;
}

.praying {
    width: auto;
    height: 550px;
    /*border: 3px solid red; /*看板型用，上線後務必關掉*/
    display: flex;
}
